{
  "openapi": "3.0.0",
  "info": {
    "title": "AILabAPI",
    "description": "[<b>AILabTools</b>](https://www.ailabtools.com) is an advanced tool that offers a vast array of simple and flexible API endpoints to suit your specific needs. With just one [<b>API KEY</b>](https://www.ailabtools.com/doc/get-api-key), you can easily call any of the endpoints and integrate them quickly into your application or workflow, allowing for smooth and efficient operations.\n\n[<b>AILabTools</b>](https://www.ailabtools.com) is continuously evolving, and you can anticipate even more API endpoints being added in the future, further enhancing its capabilities and usefulness for your artificial intelligence and machine learning requirements.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.ailabapi.com",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ailabapi-api-key",
        "description": "API Key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI IMAGE"
    },
    {
      "name": "AI IMAGE > Image Enhancement"
    },
    {
      "name": "AI IMAGE > Image Effects"
    },
    {
      "name": "AI IMAGE > Image Editing"
    },
    {
      "name": "AI IMAGE > Image Scoring"
    },
    {
      "name": "AI BACKGROUND REMOVAL"
    },
    {
      "name": "AI BACKGROUND REMOVAL > Portrait"
    },
    {
      "name": "AI BACKGROUND REMOVAL > General"
    },
    {
      "name": "AI PORTRAIT"
    },
    {
      "name": "AI PORTRAIT > Portrait Effects"
    },
    {
      "name": "AI PORTRAIT > Portrait Enhance"
    },
    {
      "name": "AI PORTRAIT > Portrait Editing"
    },
    {
      "name": "AI PORTRAIT > Portrait Analysis"
    },
    {
      "name": "AI COMMON"
    }
  ],
  "paths": {
    "/api/image/enhance/image-defogging": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Image Dehaze",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/enhance/image-lossless-enlargement": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Image Upscaler",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "upscale_factor": {
                    "type": "string",
                    "description": "Magnification."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Image output mode. <li>`base`: Normal mode, i.e. stable super-resolution effect.</li> <li>`enhancement`: Enhancement mode, which has a more prominent enhancement effect than the normal mode, further improving the clarity and sharpness of the output image.</li>"
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Output image format."
                  },
                  "output_quality": {
                    "type": "string",
                    "description": "Quality factor of the output image, where a higher value corresponds to higher quality. Only applicable when `output_format=jpg`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/enhance/stretch-image-recovery": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Stretched Image Restoration",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": "",
                  "ratio": 0
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/enhance/image-sharpness-enhancement": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Image sharpness enhancement",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/enhance/image-contrast-enhancement": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Image contrast enhancement",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/enhance/image-color-enhancement": {
      "post": {
        "tags": [
          "AI IMAGE > Image Enhancement"
        ],
        "summary": "Image color enhancement",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "output_format": {
                    "type": "string",
                    "description": "The format of the output image."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Color mixing mode. <li>`LogC`: Suitable for gray film (low contrast raw map) input, adjust the image color perception substantially to restore the color texture of the SDR domain.</li> <li>`Rec709`: Suitable for images taken under general conditions, appropriate to enhance the image brightness, saturation, etc., the adjustment range is more conservative.</li> <li>`ln17_256`: Suitable for images taken under general conditions, drastically adjusts image brightness, saturation, contrast, and improves color quality.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/ai-anime-generator": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "AI Cartoon Generator",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_type": {
                    "type": "string",
                    "description": "Task Type.",
                    "example": "async"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "index": {
                    "type": "string",
                    "description": "Cartoon effect. <li>`0`: Vintage Comic.</li> <li>`1`: 3D Fairy Tale.</li> <li>`2`: Two-dimensional (2D).</li> <li>`3`: Refreshing and Elegant.</li> <li>`4`: Future Technology.</li> <li>`5`: Traditional Chinese Painting Style.</li> <li>`6`: General in a Hundred Battles.</li> <li>`7`: Colorful Cartoon.</li> <li>`8`: Graceful Chinese Style.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "task_type": "",
                  "task_id": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-colorization": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "AI Photo Colorize",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-style-conversion": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "Photo to Painting",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "option": {
                    "type": "string",
                    "description": "<li>`cartoon`: Cartoon style.</li> <li>`pencil`: Pencil style.</li> <li>`color_pencil`: Color pencil drawing style.</li> <li>`warm`: The style of colorful sugar cube oil painting.</li> <li>`wave`: Oil painting style in surfing in Kanagawa.</li> <li>`lavender`: Lavender oil painting style.</li> <li>`mononoke`: Strange oil painting style.</li> <li>`scream`: Scream oil painting style.</li> <li>`gothic`: Gothic oil painting style.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "image": ""
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-style-migration": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "Style transfer",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "style": {
                    "type": "string",
                    "description": "style image.",
                    "format": "binary"
                  },
                  "major": {
                    "type": "string",
                    "description": "Content image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "url": "",
                    "major_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-color-migration": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "Color Migration",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mode": {
                    "type": "string",
                    "description": "Color extension mode. <li>`AUTO`: Automatic color extension.</li> <li>`TEMPLATE`: Color palette extension.</li> <li>`REF_PIC`: Reference picture extension color.</li>"
                  },
                  "color_count": {
                    "type": "string",
                    "description": "Expand the number of color families."
                  },
                  "color_template": {
                    "type": "string",
                    "description": "Color palette topology, Top master color list, color value definition ARGB. e.g. 0A0B0C, array size [1, 7]."
                  },
                  "ref": {
                    "type": "string",
                    "description": "Reference image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "AUTO",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "image_list": [
                          "https://www.ailabtools.com/logo.png"
                        ]
                      }
                    }
                  },
                  "example-1": {
                    "summary": "TEMPLATE",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "image_list": [
                          "https://www.ailabtools.com/logo.png"
                        ]
                      }
                    }
                  },
                  "example-2": {
                    "summary": "REF_PIC",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "image_list": [
                          "https://www.ailabtools.com/logo.png"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-hd-color-migration": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "HD color migration",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_type": {
                    "type": "string",
                    "description": "Task Type.",
                    "example": "async"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mode": {
                    "type": "string",
                    "description": "Color extension mode. <li>`AUTO`: Automatic color extension.</li> <li>`TEMPLATE`: Color palette extension.</li> <li>`REF_PIC`: Reference picture extension color.</li>"
                  },
                  "degree": {
                    "type": "string",
                    "description": "Top color degree."
                  },
                  "color_count": {
                    "type": "string",
                    "description": "Expand the number of color families."
                  },
                  "color_template": {
                    "type": "string",
                    "description": "Color palette topology, Top master color list, color value definition ARGB. e.g. 0A0B0C, array size [1, 7]."
                  },
                  "ref": {
                    "type": "string",
                    "description": "Reference image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "AUTO",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "task_type": "",
                      "task_id": ""
                    }
                  },
                  "example-1": {
                    "summary": "TEMPLATE",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "task_type": "",
                      "task_id": ""
                    }
                  },
                  "example-2": {
                    "summary": "REF_PIC",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "task_type": "",
                      "task_id": ""
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/effects/image-fine-tuning": {
      "post": {
        "tags": [
          "AI IMAGE > Image Effects"
        ],
        "summary": "Image Micro Motion",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "operation": {
                    "type": "string",
                    "description": "The micro-motion state of the sky and hair. <li>`1`: The sky moves slightly.</li> <li>`01`: The sky moves slightly.</li> <li>`10`: The hair moves slightly, the sky does not move.</li> <li>`11`: Both the hair and the sky move slightly.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/image-cropping": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "AI Image cropping",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "width": {
                    "type": "string",
                    "description": "The width of the target. Unit: px."
                  },
                  "height": {
                    "type": "string",
                    "description": "The height of the target. Unit: px."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "url": "",
                    "retain_location": {
                      "width": 0,
                      "height": 0,
                      "y": 0,
                      "x": 0
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/intelligent-composition": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Intelligent Composition",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "num_boxes": {
                    "type": "string",
                    "description": "The number of output boxes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "elements": [
                      {
                        "min_x": 0,
                        "max_x": 0,
                        "min_y": 0,
                        "max_y": 0,
                        "score": 0
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/photo-retouching": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Photo retouch",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Images that require a style transformation.",
                    "format": "binary"
                  },
                  "style": {
                    "type": "string",
                    "description": "Reference image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/image-invisible-image-watermark": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Image Invisible Picture Watermark",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "function_type": {
                    "type": "string",
                    "description": "Specifies the calling function."
                  },
                  "origin_image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "logo": {
                    "type": "string",
                    "description": "Watermark images.",
                    "format": "binary"
                  },
                  "output_file_type": {
                    "type": "string",
                    "description": "Output format."
                  },
                  "watermark_image": {
                    "type": "string",
                    "description": "The image to be resolved, i.e. the composite image with the image watermark.",
                    "format": "binary"
                  },
                  "quality_factor": {
                    "type": "string",
                    "description": "The quality size of the output image, the higher the quality the larger the image."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "encode_pic|encode_pic_plus|encode_pic_bold",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "logo_url": ""
                      }
                    }
                  },
                  "example-1": {
                    "summary": "decode_pic",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "logo_url": ""
                      }
                    }
                  },
                  "example-2": {
                    "summary": "decode_pic_plus|decode_pic_bold",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "logo_url": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/image-invisible-text-watermarking": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Image Invisible Text Watermark",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "function_type": {
                    "type": "string",
                    "description": "Specifies the calling function."
                  },
                  "origin_image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the watermark to be added."
                  },
                  "output_file_type": {
                    "type": "string",
                    "description": "Output format."
                  },
                  "watermark_image": {
                    "type": "string",
                    "description": "The image to be resolved, i.e., a composite image with a text watermark.",
                    "format": "binary"
                  },
                  "quality_factor": {
                    "type": "string",
                    "description": "The quality size of the output image, the higher the quality the larger the image."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "encode_text|encode_text_plus|encode_text_bold",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "text_image_url": ""
                      }
                    }
                  },
                  "example-1": {
                    "summary": "decode_text",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "text_image_url": ""
                      }
                    }
                  },
                  "example-2": {
                    "summary": "decode_text_plus|decode_text_bold",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "watermark_image_url": "",
                        "text_image_url": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/image-erase": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Image Erasure",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image to be erased.",
                    "format": "binary"
                  },
                  "user_mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/remove-objects": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Remove Objects",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/remove-objects-advanced": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Remove Objects Advanced",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Sampling steps determine the level of detail in the generated image. A higher value may result in better quality, but it will significantly increase the processing time.",
                    "example": "30"
                  },
                  "strength": {
                    "type": "number",
                    "description": "The smaller the value, the closer it is to the original image.",
                    "example": "0.8"
                  },
                  "scale": {
                    "type": "integer",
                    "description": "The degree to which the text description influences the output.",
                    "example": "7"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Random seed, used as the basis for determining the initial state of the diffusion process. It must be a non-negative number (`-1` represents a random seed). If the random seed is the same positive integer and all other parameters are identical, the generated image will most likely be consistent.",
                    "example": "0"
                  },
                  "dilate_size": {
                    "type": "integer",
                    "description": "Mask Dilation Radius. The mask used for object removal should fully encompass the target object. When users manually draw the mask, it often extends beyond the object's boundary. However, if the mask is generated by a segmentation algorithm, it typically adheres closely to the object's edges, which might leave parts of the object uncovered. This can lead to incomplete removal or unexpected artifacts during generation. To avoid such issues, it's recommended to appropriately increase the `dilate_size` parameter to ensure the mask fully covers the object.",
                    "example": "15"
                  },
                  "quality": {
                    "type": "string",
                    "description": "Quality Parameter. <li>`H`: High quality — best output quality, but slightly slower processing.</li> <li>`M`: Medium quality — balanced in both quality and speed.</li> <li>`L`: Low quality — fastest processing, suitable for scenarios where speed is prioritized.</li>",
                    "example": "M"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "binary_data_base64": []
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/remove-objects-pro": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "Remove Objects Pro",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/ai-object-replacer": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "AI Object Replacer",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  },
                  "custom_prompt": {
                    "type": "string",
                    "description": "Prompt Content (English only). Please limit the prompt content to 100 English words or fewer. Any content beyond this limit may have minimal impact on the generated result. Use standard vocabulary to avoid failing the review process."
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Sampling steps determine the level of detail in the generated image. A higher value may result in better quality, but it will significantly increase the processing time.",
                    "example": "25"
                  },
                  "scale": {
                    "type": "integer",
                    "description": "The degree to which the text description influences the output.",
                    "example": "5"
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed, used as the basis for determining the initial state of the diffusion process. It must be a non-negative number (`-1` represents a random seed). If the random seed is the same positive integer and all other parameters are identical, the generated image will most likely be consistent.",
                    "example": "-1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "binary_data_base64": []
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/editing/ai-image-extender": {
      "post": {
        "tags": [
          "AI IMAGE > Image Editing"
        ],
        "summary": "AI Image Extender",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Original image.",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image.",
                    "format": "binary"
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Sampling steps determine the level of detail in the generated image. A higher value may result in better quality, but it will significantly increase the processing time.",
                    "example": "30"
                  },
                  "strength": {
                    "type": "number",
                    "description": "The smaller the value, the closer it is to the original image.",
                    "example": "0.8"
                  },
                  "scale": {
                    "type": "integer",
                    "description": "The degree to which the text description influences the output.",
                    "example": "7"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Random seed, used as the basis for determining the initial state of the diffusion process. It must be a non-negative number (`-1` represents a random seed). If the random seed is the same positive integer and all other parameters are identical, the generated image will most likely be consistent.",
                    "example": "0"
                  },
                  "top": {
                    "type": "number",
                    "description": "Upward expansion ratio.",
                    "example": "0.1"
                  },
                  "bottom": {
                    "type": "number",
                    "description": "Downward expansion ratio.",
                    "example": "0.1"
                  },
                  "left": {
                    "type": "number",
                    "description": "Leftward expansion ratio.",
                    "example": "0.1"
                  },
                  "right": {
                    "type": "number",
                    "description": "Rightward expansion ratio.",
                    "example": "0.1"
                  },
                  "max_height": {
                    "type": "integer",
                    "description": "Maximum output height. Resized to the specified dimensions as a fallback after the image expansion process.",
                    "example": "1920"
                  },
                  "max_width": {
                    "type": "integer",
                    "description": "Maximum output width. Resized to the specified dimensions as a fallback after the image expansion process.",
                    "example": "1920"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Non-Mask Expanded Image",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "binary_data_base64": []
                      }
                    }
                  },
                  "example-1": {
                    "summary": "Mask Expanded Image",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "binary_data_base64": []
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/rating/image-composition-aesthetics-scoring": {
      "post": {
        "tags": [
          "AI IMAGE > Image Scoring"
        ],
        "summary": "Image composition aesthetics score",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "score": 0
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/rating/image-exposure-score": {
      "post": {
        "tags": [
          "AI IMAGE > Image Scoring"
        ],
        "summary": "Image exposure score",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "exposure": 0
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/image/asyn-task-results": {
      "get": {
        "tags": [
          "AI IMAGE"
        ],
        "summary": "Querying Async Task Results",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The request_id returned by the asynchronous API."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Asynchronous task type. <li>`HD_COLOUR_MIGRATION`: HD color migration</li> <li>`GENERATE_CARTOONIZED_IMAGE`: AI Cartoon Generator</li>"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "HD_COLOUR_MIGRATION",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "status": "PROCESS_SUCCESS",
                        "image_list": [
                          "https://www.ailabtools.com/logo.png"
                        ]
                      }
                    }
                  },
                  "example-1": {
                    "summary": "GENERATE_CARTOONIZED_IMAGE",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "data": {
                        "status": "PROCESS_SUCCESS",
                        "result_url": "https://www.ailabtools.com/logo.png"
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/portrait/portrait-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > Portrait"
        ],
        "summary": "Human background removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specifies the form of the returned image. <li>If not set, the four-channel PNG map is returned.</li> <li>`mask`: Returns a single channel mask.</li> <li>`whiteBK`: Return to white background image.</li> <li>`crop`: Returns the four-channel PNG image after cropping (cropping out the blank areas around the edges).</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/portrait/avatar-extraction": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > Portrait"
        ],
        "summary": "Head Extraction",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specifies the form of the returned image. <li>If not set, the four-channel PNG map is returned.</li> <li>`mask`: Returns a single channel mask.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "elements": [
                      {
                        "image_url": "",
                        "width": 0,
                        "height": 0,
                        "x": 0,
                        "y": 0
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/portrait/hairstyle-extraction": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > Portrait"
        ],
        "summary": "Hairstyle Extraction",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "elements": [
                      {
                        "image_url": "",
                        "width": 0,
                        "height": 0,
                        "x": 0,
                        "y": 0
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/general/universal-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > General"
        ],
        "summary": "Universal Background Removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specifies the form of the returned image. <li>If not set, the four-channel PNG map is returned.</li> <li>`mask`: Returns a single channel mask.</li> <li>`whiteBK`: Return to white background image.</li> <li>`crop`: Returns the four-channel PNG image after cropping (cropping out the blank areas around the edges).</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/general/food-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > General"
        ],
        "summary": "Food Background Removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specifies the form of the returned image. <li>If not set, the four-channel PNG map is returned.</li> <li>`mask`: Returns a single channel mask.</li> <li>`whiteBK`: Return to white background image.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/general/commodity-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > General"
        ],
        "summary": "Product background removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specifies the form of the returned image. <li>If not set, the four-channel PNG map is returned.</li> <li>`mask`: Returns a single channel mask.</li> <li>`whiteBK`: Return to white background image.</li> <li>`crop`: Returns the four-channel PNG image after cropping (cropping out the blank areas around the edges).</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/general/apparel-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > General"
        ],
        "summary": "Costume background removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "out_mode": {
                    "type": "string",
                    "description": "Specifies the type of segmentation result to return, which affects the content of the `image_url` field. <li>`0`: Default segmentation result of the main clothing.</li> <li>`1`: Combined segmentation result based on the category specified by `cloth_class`.</li>"
                  },
                  "cloth_class": {
                    "type": "string",
                    "description": "Clothing categories. Multiple values can be submitted at once, separated by commas (,). <li>`tops`: Tops.</li> <li>`coat`: Coat.</li> <li>`skirt`: Skirt.</li> <li>`pants`: Pants.</li> <li>`bag`: Bag.</li> <li>`shoes`: Shoes.</li> <li>`hat`: Hat.</li>"
                  },
                  "return_form": {
                    "type": "string",
                    "description": "Specify the desired image format for the output. <li>`whiteBK`: Returns an image with a white background.</li> <li>`mask`: Returns a single-channel mask.</li> <li>If not specified, a four-channel PNG image will be returned.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "elements": [
                      {
                        "image_url": ""
                      },
                      {
                        "class_url": {
                          "tops": "",
                          "coat": "",
                          "skirt": "",
                          "pants": "",
                          "bag": "",
                          "shoes": "",
                          "hat": ""
                        }
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/cutout/portrait/hd-portrait-background-removal": {
      "post": {
        "tags": [
          "AI BACKGROUND REMOVAL > General"
        ],
        "summary": "Costume background removal",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "elements": [
                      {
                        "image_url": ""
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/portrait-animation": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "Cartoon yourself",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "type": {
                    "type": "string",
                    "description": "Cartoon effect. <li>`jpcartoon`: Japanese Manga (I)</li> <li>`anime`: Japanese Manga (II)</li> <li>`claborate`: Chinese fine brushwork painting</li> <li>`hongkong`: Hong Kong-style comic style</li> <li>`comic`: Comic</li> <li>`animation3d`: 3D Animation</li> <li>`handdrawn`: hand-painted</li> <li>`sketch`: Pencil drawing (I)</li> <li>`full`: Pencil drawing (II)</li> <li>`artstyle`: Artistic effects</li> <li>`classic_cartoon`: Retro Cartoon</li> <li>`tccartoon`: Moe Manga</li> <li>`hkcartoon`: China Comics</li> <li>`3d_cartoon`: 3D cartoon</li> <li>`pixar`: Pixar</li> <li>`pixar_plus`: Pixar Pro</li> <li>`angel`: Angel</li> <li>`angel_plus`: Angel Pro</li> <li>`demon`: Demon</li> <li>`ukiyoe_cartoon`: Ukiyo-e</li> <li>`amcartoon`: American Manga</li> <li>`3d`: 3D Effects</li> <li>`3d_game`: 3D game effects</li> <li>`western`: Western</li> <li>`avatar`: Avatar</li> <li>`head`: Pencil drawing (head)</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/face-fusion": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "Merge Portraits",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_target": {
                    "type": "string",
                    "description": "Target image.",
                    "format": "binary"
                  },
                  "image_template": {
                    "type": "string",
                    "description": "Template images.",
                    "format": "binary"
                  },
                  "source_similarity": {
                    "type": "string",
                    "description": "Face similarity, where a higher numerical value indicates greater similarity. <li>`0`: Consistent with the original template.</li> <li>`1`: Maximum similarity with the target image.</li>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/smart-beauty": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "Smart Beauty",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_type": {
                    "type": "string",
                    "description": "Task Type. <li>`sync`: Synchronous tasks.</li> <li>`async`: Asynchronous tasks.</li>",
                    "example": "sync"
                  },
                  "image_target": {
                    "type": "string",
                    "format": "binary"
                  },
                  "multi_face": {
                    "type": "string",
                    "description": "Multiple-face beauty strategy. When set to `1`, beauty enhancement is applied to all faces (it is recommended that the number of faces in the image be less than 18, as too many faces may lead to instability). When set to any other value or not specified, only the largest face is processed."
                  },
                  "beauty_level": {
                    "type": "string",
                    "description": "Beauty level."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Sync",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "task_type": "sync",
                      "result": ""
                    }
                  },
                  "example-1": {
                    "summary": "Async",
                    "value": {
                      "request_id": "",
                      "log_id": "",
                      "error_code": 0,
                      "error_code_str": "",
                      "error_msg": "",
                      "error_detail": {
                        "status_code": 200,
                        "code": "",
                        "code_message": "",
                        "message": ""
                      },
                      "task_type": "async",
                      "task_id": ""
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/smart-skin": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "AI Skin Beauty",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "retouch_degree": {
                    "type": "string",
                    "description": "Dermabrasion intensity. The higher the value, the less visible the skin texture."
                  },
                  "whitening_degree": {
                    "type": "string",
                    "description": "Whitening strength. The higher the value, the whiter the skin."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/smart-face-slimming": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "AI Face Slimming",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "slim_degree": {
                    "type": "string",
                    "description": "Standard strength. The higher the value, the more pronounced the face slimming effect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
                  "log_id": "",
                  "error_code": 0,
                  "error_code_str": "",
                  "error_msg": "",
                  "error_detail": {
                    "status_code": 200,
                    "code": "",
                    "code_message": "",
                    "message": ""
                  },
                  "data": {
                    "image_url": ""
                  }
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/api/portrait/effects/face-beauty": {
      "post": {
        "tags": [
          "AI PORTRAIT > Portrait Effects"
        ],
        "summary": "Face Beauty",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "sharp": {
                    "type": "string",
                    "description": "The degree of sharpening (sharpness). shu zhi The higher the degree of sharpening. The higher the degree of sharpening."
                  },
                  "smooth": {
                    "type": "string",
                    "description": "Smoothness. The higher the value, the higher the degree of smoothness."
                  },
                  "white": {
                    "type": "string",
                    "description": "Whitening degree. The higher the value, the higher the degree of whitening."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "request_id": "",
[...]
